<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/Imagenes/logoPag.png">
    <title>@ViewData["Title"] - PreguntadORT_Chediex_Pascual</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PreguntadORT_Chediex_Pascual.styles.css" asp-append-version="true" />
</head>
<body class="fondo">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <div class="chiquito">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img class="navbar-Img" src="/Imagenes/logo.png" alt=""></a>
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light fuente2" asp-area="" asp-controller="Home" asp-action="Index">Jugar</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light fuente2" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light fuente2" asp-area="" asp-controller="Home" asp-action="HighScores">Tabla de puntajes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light fuente2" asp-area="" asp-controller="Home" asp-action="ListaPreguntas" target="_blank">Lista de preguntas</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container fuente2">
            &copy; 2022 - Quiz Breaking Bad Chediex & Pascual - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
