@{
    ViewData["Title"] = "Tabla de Puntajes";
}
<div class="text-center text-light">
    <h1 class="fuente mb-5">Tabla de puntajes</h1>
 
    <table class="table">

        <thead class="text-light">

            <tr>
            <th>Username</th>
            <th>Puntaje</th>
            <th>Dia</th>
            </tr>

        </thead>

        <tbody class="text-light">
        @foreach(ScoreBoard item in ViewBag.Score)
        {
            <tr>
                <td>@item.Username</td>
                <td>@item.Puntaje</td>
                <td>@item.Dia</td>
            </tr>
        }
        </tbody>

    </table>
</div>