@{
    ViewData["Title"] = "Página Principal";
}

<div class="text-center text-light">
    <h1 class="display-4 titulo">Preguntas Universo Breaking Bad</h1>
    <img class="chiquitito" src="/Imagenes/logo.png"> 
    <div class = "div_relative text-center">
        <a href='@Url.Action("ConfigurarJuego","Home")'><img class="img" src="/Imagenes/GifWW.gif" alt="Gif Walter White"></a>
    </div>
</div>
