@{
    ViewData["Title"] = "Página Principal";
}

<div class="text-center">
    <h1 class="display-4">Quiz Universo de Breaking Bad</h1>
    <img class="chiquitito" src="/Imagenes/logo.png"> 
    <div class = "div_relative text-center">
        <a href="#"><img class="img" src="/Imagenes/GifWW.gif" alt="Gif Walter White"></a>
        <a href="#"class="btn">JUGAR</a>
    </div>
</div>
