@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="text-light">
    <h1 class="text-center fuente">Politica de privacidad</h1>
    <br>
        <div class="mb-4 foto row">
            <img src="/Imagenes/UniversoParalelo.jpg" class="w-50">
        </div>
    <br>
    <h3 class="text-center fuente2">Los autores de la página</h3>
</div>
